<link rel ="stylesheet" href="authors-girls.component.css">

<div class="contenedorGeneral">
    <div class="contenedorBotones">
        <div class="cuadroBotones">
            <button class="otrosBotones">
            <img src="./../assets/acercarse.png"/>
            </button>

            <button class="otrosBotones">
            <img src="./../assets/alejarse.png"/>
            </button>

            <button class="otrosBotones">
            <img src="./../assets/estrella.png"/>
            </button>

            <button class="otrosBotones">
            <img src="./../assets/foco.png"/>
            </button>

            <button class="otrosBotones">
            <img src="./../assets/numeroBandera.png"/>
            </button>

            <button class="otrosBotones">
            <img src="./../assets/interrogacion.png"/>
            </button>
            
            <button class="otrosBotones">
            <img src="./../assets/cheque.png"/>
            </button>
        </div>
    </div>

    <div class="contenedorAutores">
        <div class="title">Autoras</div>

        <div class="contenedorAutores2">
            <div class="contenedorAutores3">
                <div class="authors">Diana Lucía Fernández Villatoro</div>
                <div class="authors">~ Front-End</div>
            </div>

            <div class="contendeorContacto">
                <div class="contact">Contacto - </div>
                <div class="email">fer21747@uvg.edu.gt</div>
            </div>
        </div>
        
        <div class="contenedorAutores2">
            <div class="contenedorAutores3">
                <div class="authors">Jennifer Michelle Toxcon Ordoñez</div>
                <div class="authors">~ Back-End</div>
            </div>
            
            <div class="contendeorContacto">
                <div class="contact">Contacto - </div>
                <div class="email">tox21276@uvg.edu.gt</div>
            </div>
        </div>
    </div>
</div>