<link rel ="stylesheet" href="authors-girls.component.css">

<div class="contenedorGeneral1">
    <div class="contenedorGeneral">
        <div class="contenedorBotones">
            <div class="cuadroBotones">
                <div class="otroBoton">
                <img src="./../assets/acercarse.png"/>
                </div>

                <div class="otroBoton">
                <img src="./../assets/alejarse.png"/>
                </div>

                <div class="otroBoton">
                <img src="./../assets/estrella.png"/>
                </div>

                <div class="otroBoton">
                <img src="./../assets/foco.png"/>
                </div>

                <div class="otroBoton">
                <img src="./../assets/numeroBandera.png"/>
                </div>

                <div class="unBotonApachado">
                <img src="./../assets/interrogacion.png"/>
                </div>
                
                <button class="otrosBotones">
                <img src="./../assets/cheque.png"/>
                </button>
            </div>
        </div>

        <div class="contenedorAutores">
            <div class="title">Autoras</div>

            <div class="contenedorAutores2">
                <div class="contenedorAutores3">
                    <div class="authors">Diana Lucía</div>
                    <div class="authors">Fernández Villatoro</div>
                    <div class="authors">~ Front-End</div>
                </div>

                <div class="contendeorContacto">
                    <div class="contact">Contacto - </div>
                    <div class="email">fer21747@uvg.edu.gt</div>
                </div>
            </div>
            
            <div class="contenedorAutores2">
                <div class="contenedorAutores3">
                    <div class="authors">Jennifer Michelle</div>
                    <div class="authors">Toxcon Ordoñez</div>
                    <div class="authors">~ Back-End</div>
                </div>
                
                <div class="contendeorContacto">
                    <div class="contact">Contacto - </div>
                    <div class="email">tox21276@uvg.edu.gt</div>
                </div>
            </div>
        </div>
    </div>
</div>